<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuthorizeNet" version="1.8.3" targetFramework="net451" />
  <package id="Braintree" version="2.22.0" targetFramework="net451" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net451" />
  <package id="ClientDependency" version="1.8.2.1" targetFramework="net451" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net451" />
  <package id="ICSharpCode.NRefactory" version="5.2.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net451" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net451" />
  <package id="Mono.Cecil" version="0.9.5.2" targetFramework="net451" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net451" />
  <package id="NHibernate.Caches.SysCache" version="4.0.0.4000" targetFramework="net451" />
  <package id="RavenDB.Client" version="3.0.3690" targetFramework="net451" />
  <package id="RavenDB.Database" version="3.0.3690" targetFramework="net451" />
  <package id="RavenDB.Embedded" version="3.0.3690" targetFramework="net451" />
  <package id="ServiceStack" version="3.9.55" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.55" targetFramework="net451" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.55" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="3.9.55" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.55" targetFramework="net451" />
  <package id="uCommerce.Core" version="6.7.4.15209" targetFramework="net451" />
</packages>